.create_project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    }

    h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    }

    .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    }

    label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
    }

    input[type="text"],
    select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-top: 5px;
    }

    select {
    margin-top: 10px;
    }

    button[type="submit"] {
    margin-top: 10px;
    background-color: #10111f;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    }

    /* button[type="submit"]:hover {
    background-color: #1581ec;
    } */