.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(234, 230, 234);
    background-image: url('../img/BG.png')
  }

  h1 {
    font-size: 4rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    color:white

  }

  a {
    display: block;
    width: 200px;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    background-color: #0077cc;
    color: #ffffff;
    border-radius: 5px;
  }

  a:hover {
    background-color: #0066b2;
  }
